@import "tailwindcss";

@theme {
  --color-absolutewhite: rgba(255, 255, 255, 1);
  --color-black-06: rgba(15, 15, 15, 1);
  --color-black-08: rgba(20, 20, 20, 1);
  --color-black-10: rgba(26, 26, 26, 1);
  --color-black-12: rgba(31, 31, 31, 1);
  --color-black-15: rgba(38, 38, 38, 1);
  --color-grey-60: rgba(153, 153, 153, 1);
  --color-grey-75: rgba(191, 191, 191, 1);
  --color-red-45: rgba(229, 0, 0, 1);
  --color-white-60: rgba(153, 153, 153, 1);
  --color-dark: #141414;
  --color-card: #0f0f0f;
  --color-card2: #1a1a1a;
  --color-borderc: #262626;
  --color-accent: #e50000;
  --color-textgray: #999999;
  --font-inter: 'Inter', ui-sans-serif, system-ui;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}