@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0B132B;
  color: white;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

#root {
  min-height: 100vh;
  background-color: #0B132B;
}
