@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --absolutewhite: rgba(255, 255, 255, 1);
  --black-06: rgba(15, 15, 15, 1);
  --black-08: rgba(20, 20, 20, 1);
  --black-10: rgba(26, 26, 26, 1);
  --black-12: rgba(31, 31, 31, 1);
  --black-15: rgba(38, 38, 38, 1);
  --grey-60: rgba(153, 153, 153, 1);
  --grey-75: rgba(191, 191, 191, 1);
  --red-45: rgba(229, 0, 0, 1);
  --white-60: rgba(153, 153, 153, 1);
}


.hero-bg {
  background-image: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 100%), url('https://i.ibb.co/Ndb3JvnT/61433093511.png');
  background-size: cover;
  background-position: center;
}


