@import "tailwindcss";

@theme {
  --color-absolutewhite: rgba(255, 255, 255, 1);
  --color-black-06: rgba(15, 15, 15, 1);
  --color-black-08: rgba(20, 20, 20, 1);
  --color-black-10: rgba(26, 26, 26, 1);
  --color-black-12: rgba(31, 31, 31, 1);
  --color-black-15: rgba(38, 38, 38, 1);
  --color-grey-60: rgba(153, 153, 153, 1);
  --color-grey-75: rgba(191, 191, 191, 1);
  --color-red-45: rgba(229, 0, 0, 1);
  --color-white-60: rgba(153, 153, 153, 1);
  
  --color-dark: rgba(20, 20, 20, 1);
  --color-card: rgba(15, 15, 15, 1);
  --color-card2: rgba(26, 26, 26, 1);
  --color-borderc: rgba(38, 38, 38, 1);
  --color-accent: rgba(229, 0, 0, 1);
  --color-textgray: rgba(153, 153, 153, 1);

  --color-brand-primary: #4FC3F7; /* Light Blue */
  --color-brand-secondary: #3A506B;
  --color-neutral-dark: #0f0f0f;

  --color-brand-background: #0B132B; /* Dark Navy */
  --color-brand-surface: #17213C; /* Slightly lighter Navy for cards */
  --color-brand-border: #334155; /* Blue-gray for borders */
            
  --font-inter: 'Inter', ui-sans-serif, system-ui;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}
